A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #666666; TEXT-DECORATION: none
}
A.quick:link {
	COLOR: #003300; TEXT-DECORATION: none
}
A.quick:visited {
	COLOR: #003300; TEXT-DECORATION: none
}
A.quick:active {
	TEXT-DECORATION: none
}
A.quick:hover {
	COLOR: #ff7d00; TEXT-DECORATION: none
}
A.notice:link {
	COLOR: #003300; TEXT-DECORATION: none
}
A.notice:visited {
	COLOR: #003300; TEXT-DECORATION: none
}
A.notice:active {
	TEXT-DECORATION: none
}
A.notice:hover {
	COLOR: #003399; TEXT-DECORATION: none
}
A.news:link {
	COLOR: #003300; TEXT-DECORATION: none
}
A.news:visited {
	COLOR: #003300; TEXT-DECORATION: none
}
A.news:active {
	TEXT-DECORATION: none
}
A.news:hover {
	COLOR: #666600; TEXT-DECORATION: none
}
A.community:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.community:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.community:active {
	TEXT-DECORATION: none
}
A.community:hover {
	COLOR: #660066; TEXT-DECORATION: none
}
A.community_notice:link {
	COLOR: #fb2efb; TEXT-DECORATION: none
}
A.community_notice:visited {
	COLOR: #fb2efb; TEXT-DECORATION: none
}
A.community_notice:active {
	TEXT-DECORATION: none
}
A.community_notice:hover {
	COLOR: #fb2efb; TEXT-DECORATION: none
}
A.help:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.help:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.help:active {
	TEXT-DECORATION: none
}
A.help:hover {
	COLOR: #009999; TEXT-DECORATION: none
}
A.help_notice:link {
	COLOR: #009999; TEXT-DECORATION: none
}
A.help_notice:visited {
	COLOR: #009999; TEXT-DECORATION: none
}
A.help_notice:active {
	TEXT-DECORATION: none
}
A.help_notice:hover {
	COLOR: #009999; TEXT-DECORATION: none
}
A.community1:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.community1:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.community1:active {
	TEXT-DECORATION: none
}
A.community1:hover {
	COLOR: #660066; TEXT-DECORATION: none
}
A.roshop:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.roshop:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.roshop:active {
	TEXT-DECORATION: none
}
A.roshop:hover {
	COLOR: #ff6699; TEXT-DECORATION: none
}
A.roshop_1:link {
	COLOR: #ff6699; TEXT-DECORATION: none
}
A.roshop_1:visited {
	COLOR: #ff6699; TEXT-DECORATION: none
}
A.roshop_1:active {
	TEXT-DECORATION: none
}
A.roshop_1:hover {
	COLOR: #ff6699; TEXT-DECORATION: none
}
A.mobile:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.mobile:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.mobile:active {
	TEXT-DECORATION: none
}
A.mobile:hover {
	COLOR: #999900; TEXT-DECORATION: none
}
A.mobile_a:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.mobile_a:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.mobile_a:active {
	TEXT-DECORATION: none
}
A.mobile_a:hover {
	COLOR: #996633; TEXT-DECORATION: none
}
A.location:link {
	TEXT-DECORATION: none
}
A.location:visited {
	TEXT-DECORATION: none
}
A.location:active {
	TEXT-DECORATION: none
}
A.location:hover {
	TEXT-DECORATION: underline
}
A.event:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.event:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.event:active {
	TEXT-DECORATION: none
}
A.event:hover {
	COLOR: #3300cc; TEXT-DECORATION: none
}
A.event_notice:link {
	COLOR: #6600ff; TEXT-DECORATION: none
}
A.event_notice:visited {
	COLOR: #6600ff; TEXT-DECORATION: none
}
A.event_notice:active {
	TEXT-DECORATION: none
}
A.event_notice:hover {
	COLOR: #6600ff; TEXT-DECORATION: none
}
A.ragnarok:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.ragnarok:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.ragnarok:active {
	TEXT-DECORATION: none
}
A.ragnarok:hover {
	COLOR: #009900; TEXT-DECORATION: none
}
A.rbo:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.rbo:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.rbo:active {
	TEXT-DECORATION: none
}
A.rbo:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.animation:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.animation:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.animation:active {
	TEXT-DECORATION: none
}
A.animation:hover {
	COLOR: #86761b; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt; COLOR: #666666; LINE-HEIGHT: 140%; FONT-FAMILY: "µ¸À½", "Arial"; TEXT-ALIGN: justify
}
.quick {
	FONT-SIZE: 8pt; COLOR: #333333; LINE-HEIGHT: 140%; FONT-FAMILY: "±¼¸²"
}
.kor8 {
	FONT-SIZE: 8pt; COLOR: #666666; LINE-HEIGHT: 140%; FONT-FAMILY: "±¼¸²", "Arial"; TEXT-ALIGN: justify
}
.input {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #666666 1px solid; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: "µ¸À½", "Arial"; BACKGROUND-COLOR: #ffffff
}
.input_login {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #666666 1px solid; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: "Verdana"; BACKGROUND-COLOR: #ffffcc
}
.ro_big {
	FONT-SIZE: 18px; COLOR: #666666; LINE-HEIGHT: 130%
}
